@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html, body{
    margin:0;
    padding: 0;
}
.hero{
    background: #1f2938;
    color: #f9faf8;
    display: flex;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 15px 40px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #1f2938;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
}
.hero .right-links a:hover{
    color:#E8A32C;
    transition: 0.5s;
}
.header{
    background: #1f2938;
    color: #f9faf8;
    display: flex;
    
    padding: 8px;
}
.logo{
    text-align: center;
     display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.logo a{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.logo .logo_text{
    font-weight: bold;
    font-size: 40px;
    margin-left: 10px;
}
.left, .right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.left-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: bold;
    /*gap: 16px;*/
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-size: 22px;
    color: #f9faf8;
}
.body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Robot, sans-serif;
    display: flex;
    flex-direction: column;
}
.main{
    background: #1f2938;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #1f2938;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.modal{
    background: #1f2938;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    display: flex;
    gap: 16px;
    padding: 16px;
    color: #f9faf8;
    /*font-size: 30px;
    font-weight: bold;*/
    margin: 25px;
}
.text{
    font-size: 16px;
    margin-bottom: 14px;
    text-align: left;
}
.title{
    font-size: 24px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}


.button{
    display: flex;
    align-items: center;
    background: #3882f6;
    color: #f9faf8;
    font-size: 24px;
    border-radius: 10px;
}
.img-title{
    display: flex;
    flex: 1;
    align-items: center;
    color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    width: auto;
    gap: 16px;
    padding: 16px;
    margin: 16px;

}
.content{
    display:block;
    align-items: center;
    padding: 16px;
}
.img-container{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
    text-align: center;
    float: left;
}

.img-container img{
    width: 100%;
    height: 100%;
    max-height: 150px;
    padding: 20px;
    margin:0px !important;
    max-width: 150px;
    background: #1f2937;
    border: 6px solid #3882f6;
}
.img-container p{
    font-weight: bold;
    font-size: 20px;
}

.modal-img{
    float: right !important;
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    margin: 25px;
    margin-left: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}
.modal-img img{
    text-align: center;
    width: 100% !important;
    max-width: 100px;
    margin: auto;
    display: block;

}

.post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 66px;
    margin: 40px;
    background: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}
.info-header{
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}
.p{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #1f2938;
}
.last-container{
display: flex;
align-items: center;
padding: 16px;
gap: 50px;

}
.call-to-action{
    background: #3882f6;
    width: 1200px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
    display: flex;

    padding: 16px;
    color: #f9faf8;
    font-size: 30px;
    font-weight: bold;
    margin: 25px;
}
.call{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 16px;
    margin-left: 160px;
}
.call1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 16px;
    margin-left: 250px;
}
a{
    text-decoration: none;
    color: #f9faf8;
    }
.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    background: #1f2938;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
}